footer {
  background-color: $custom_palette5;
}

.btn-floating {
  box-shadow: 0 5px 11px 0 rgba(250, 208, 137, 0.24), 0 4px 15px 0 rgba(255, 157, 91, 0.15); }
  
.btn-floating:hover {
  box-shadow: 0 8px 17px 0 rgba(245, 100, 74, 0.2), 0 6px 20px 0 rgba(237, 48, 61, 0.19); }