
h6 {
  line-height: 1.7; }

.intro-title {
  font-size: 3rem;
  line-height: 4rem; }

.intro-section {
  background: $custom_palette1;
  background-image: linear-gradient(120deg, $custom_palette1, $custom_palette2, $custom_palette3, $custom_palette4, $custom_palette5, $custom_palette6);
  background-repeat: no-repeat;
  background-size: 800% 400%;
  -webkit-animation-name: introAnimation;
          animation-name: introAnimation;
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite; }

@-webkit-keyframes introAnimation {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

@keyframes introAnimation {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }