$linear-border: #20B2AA;
$linear-hover: #4169E1;

.linear-container {
  
    margin: 2.3em auto;
    list-style: none;
    padding-inline-start: 0;

    svg, img, i { 
        margin: 5px auto;
        width: 56px !important; 
        height: 56px !important; 
        padding: 8px;
        text-align: center; 
        font-size: 35px;
        display: block; 
        max-width: 100%; 
        border-radius: 50%;
        filter: grayscale(100%);
        border: solid 5px $linear-border;
        color: $linear-hover;
        transition: .15s;

        &:hover {
            filter: grayscale(0);
        }
    }

    i::before {
        position:relative;
        top: calc(50% - 20px);
    }

    &-text {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

    &-technologies {
        padding: 0;
        margin: 0;
        list-style: none;
        
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        justify-content: space-around;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
    }
    
}